Source: cross-shell
Section: host/tools
Maintainer: Mikhail Gusarov <dottedmag@dottedmag.net>
Build-Depends: debhelper (>> 7)
Standards-Version: 3.8.0

Package: cross-shell
Priority: optional
Architecture: all
Depends: debootstrap (>= 1.0.10.oi1), libfakechroot-cross (>= 2.8-1), fakeroot
Description: cross-bootstrapping tool
 cross-shell creates rootfs for non-native CPU architectures without using qemu
 or other emulator.
